@import "variables.less";
@import "mixins.less";


/*
*, section p {
  font-size: 16px;
  line-height: 1.5em;
}
*/

html body {
  background: url(../img/paper.jpg) repeat top left;
}

.container {
  background-color: fadeout(#FFF, 30%);
  .box-shadow(@gray -2px 2px 9px);
  padding-bottom: 80px;
  padding: 0 10px;
  padding-bottom: 60px;
}

div, section, figure {
  padding: 0;
  margin: 0;
}

.container section {
  padding-top: 60px;
}

.shadow {
    .border-radius();
    .box-shadow(@gray -2px 2px 9px);
    overflow: hidden;
}

.me {
    .box-shadow(2px 2px 5px @gray);
    margin-bottom: 60px;
    .border-radius(20px);
}
.introduction {
    background: url(../img/paper.jpg) repeat top left;
    padding: 20px;
    .box-shadow(2px 2px 5px @gray);
    p {
        font-size: 18px;
        line-height: 22px;
        text-shadow: 1px 1px 0px @grayLight;
    }
    height: 175px -40px;
    min-height: 175px - 40px;
}

.well blockquote {
  border-left: 5px solid #CCC;
}
.well h3 a {
  color: #BFBFBF;
}

.frame {
  border: 5px solid #FFF;
  float:left;
  margin:10px;
  text-align: center;
  overflow:hidden; /* this is important */
}

.photo,
.oil-p {
  margin: -5px;
}

#header {
  #gradient.vertical(fadeout(@primary-1, 40%), fadeout(@primary-3, 40%));
  border-top: 5px solid @primary-2;
  border-bottom: 1px solid @white;
}

#header_container {
  #gradient.vertical(@primary-1, @primary-2);
  //.box-shadow(@primary-3 -2px 2px 9px);
  width: @body-width;
  height: 40px;
  margin: 0 auto;
  h1 {
     float: left;
     font-size: 18px;
     line-height: 40px;
     padding: 0 10px;
  }
  ul {
      float: right;
      padding: 0 10px;
  }
}

#footer {
  #gradient.vertical(fadeout(@primary-1, 40%), fadeout(@primary-3, 40%));
  border-bottom: 5px solid @secondary-a-3;
  border-top: 1px solid @white;
}

#footer_container {
  #gradient.vertical(@primary-1, @primary-2);
  //.box-shadow(@primary-3 -2px 2px 9px);
  width: @body-width;
  height: 40px;
  margin: 0 auto;
  text-align: center;
  padding: 10px 0;
}

#header,
#footer {
  color: @secondary-a-3;

  ul {
    padding: 10px 0;
    margin: 0;
  }
  li {
    list-style:none;
    border-left: 1px solid @secondary-b-1;
    float: left;
    line-height: 1em;
    padding: 0 15px;
    &.first {
      border-left: 0;
    }
  }
  a {
    color: @secondary-b-5;
    margin-top: 10px;
    padding: 10px 2px;
    &:hover {
      color: #FFF;
      
    }
  }
}

#blog-container .posts {
  padding: 0;
  margin: 0;  
  list-style: none;
  .read-more {
    text-align: right;
  }
}

#blog-container .postsList,
#blog-container .postCard {
  padding: 0;
  margin: 0;  
  list-style: none;
  li {
    border-top: 2px solid @secondary-a-3;
    border-right: 1px dotted @secondary-a-3;

    h4,
    h5 {
      padding: 5px 10px;
      margin-top: -2px;
    }
    &:hover {
      background-color: fadeout(@primary-3, 50%);
    }
    a:hover {
      text-decoration: none;
      h4,
      h5 {
        color: @primary-3;
        small {
          color: @primary-3;
        }
      }
    }
    &.active {
      &:hover {
        background-color: #FFF;
      }
      border-left: 2px solid @primary-2;
      border-right: none;
    }
  }
}

#blog-container .postCard {
  li {
    border-right: none;
    p {
      padding: 5px 10px;
    }
  }
}

#blog-container .postsList {
  padding-top: 60px;
}

#blog-container ul .post {
  color: #000;
  list-style:none;
  padding-top: 60px;
}

.tags {
      margin-bottom: 1em;
}