@import "variables.less";
@import "mixins.less";

@3d-perspective: 100;
@nav-height: 100px;
@nav-depth: 100px;
@nav-item-depth: @nav-depth / 2;
@nav-item-width: 160px;
@nav-item-height: 40px;

#subNav {
  background-color: #A65F00;
  border: 1px solid #A65F00;
  padding: 3px;
}

#nav {
  #gradient.vertical(fadeout(@secondary-a-1, 40%), fadeout(@secondary-a-3, 40%));
  height: @nav-height;
  .box-shadow(-2px 2px 5px @gray);
}
#nav_container {
  height: 0;
  margin: 0 auto;
  position: relative;
  width: @body-width;
  -webkit-perspective: @3d-perspective;
}
div.title {
  color: @secondary-b-1;
  display: block;
  font: bold 32px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-left: 10px;
  position: absolute;
  top: 10px;
  -webkit-transform: translateZ( -@nav-depth );
}
.container_back {
  background-color: @secondary-a-1;
  height: @nav-height;
  width: 100%;
}
.container_right,
.container_left {
  background-color: @secondary-a-3;
  height: @nav-height;
  width:  @nav-depth;
}
.container_bottom,
.container_top {
  background-color: @secondary-a-2;
  height: 100px;
  width:  100%;
}

.container_back {
  -moz-transform: translateZ( -@nav-depth );
  -webkit-transform: translateZ( -@nav-depth );
}
.container_right    {
  right: 0;
  -moz-transform:    rotateY( 90deg ) translateZ( 50px ) translateX( 50px );
  -webkit-transform: rotateY( 90deg ) translateZ( 50px ) translateX( 50px );
}
.container_left     {
  -moz-transform:    rotateY( -90deg ) translateZ( 50px ) translateX( -50px );
  -webkit-transform: rotateY( -90deg ) translateZ( 50px ) translateX( -50px );
}
.container_bottom   {
  -moz-transform:    rotateX( 90deg ) translateZ( -50px ) translateY( -50px );
  -webkit-transform: rotateX( 90deg ) translateZ( -50px ) translateY( -50px );
}
.container_top      {
  -moz-transform:    rotateX( 90deg ) translateZ( 50px ) translateY( -50px );
  -webkit-transform: rotateX( 90deg ) translateZ( 50px ) translateY( -50px );
}

@padding: (@body-width - (3*@nav-item-width)) / 4;

.box1 { left: @padding; }
.box2 { left: (@body-width / 2) - (@nav-item-width / 2); }
.box3 { left: @body-width - @nav-item-width - @padding; }

.box figure {
  display: block;
  position: absolute;
  -mo-transition:     all 0.3s ease-in-out;
  -o-transition:      all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.box figure span {
  color: @secondary-b-5;
  text-shadow: 1px 1px 0 fadeout(@secondary-a-3, 10%);
  display: block;
  font-weight: normal;
  font-size:  30px;
  line-height:  30px;
  //font-style: italic;
  //height: @nav-item-height;
  //margin: 0 auto;
  //margin:  5px 7px;
  //padding: 5px 7px;
  padding: 3px 0 2px 0;
  text-align: center;
  &:hover {
      color: #FFF;
      text-shadow: 2px 2px 0 fadeout(@secondary-a-3, 10%);
  }
}

.box a, .box a:hover {
  text-decoration: none;
}

.box .front,
.box .back   {
  background-color: @secondary-a-1;
  height: @nav-item-height;
  width: @nav-item-width;
}
@nav-item-width-minus-depth: @nav-item-width - @nav-item-depth;
.box .right,
.box .left   {
  background-color: @secondary-a-3;
  height: @nav-item-height;
  left: @nav-item-width-minus-depth / 2;
  width: @nav-item-depth;
}

@nav-item-height-minus-depth: @nav-item-height - @nav-item-depth;
.box .top,
.box .bottom {
  background-color: @secondary-a-2;
  height: @nav-item-depth;
  top: @nav-item-height-minus-depth / 2;
  width: @nav-item-width;
}
.box .front    { 
  -moz-transform:    rotateY(   0deg ) translateZ( @nav-item-depth / 2 );
  -webkit-transform: rotateY(   0deg ) translateZ( @nav-item-depth / 2 );
}
.box .back    { 
  -moz-transform:    rotateX( 180deg ) translateZ( @nav-item-depth / 2 );
  -webkit-transform: rotateX( 180deg ) translateZ( @nav-item-depth / 2 );
}
.box .right    {
  -moz-transform:    rotateY(  90deg ) translateZ( @nav-item-width / 2 );
  -webkit-transform: rotateY(  90deg ) translateZ( @nav-item-width / 2 );
}
.box .left     {
  -moz-transform:    rotateY( -90deg ) translateZ( @nav-item-width / 2 );
  -webkit-transform: rotateY( -90deg ) translateZ( @nav-item-width / 2 );
}
.box .top      {
  -moz-transform:    rotateX(  90deg ) translateZ( @nav-item-height / 2 );
  -webkit-transform: rotateX(  90deg ) translateZ( @nav-item-height / 2 );
}
.box .bottom   {
  -moz-transform:    rotateX( -90deg ) translateZ( @nav-item-height / 2);
  -webkit-transform: rotateX( -90deg ) translateZ( @nav-item-height / 2);
}

.box {
  -moz-transform:    translateZ( -@nav-depth + (@nav-depth /4) );
  -webkit-transform: translateZ( -@nav-depth + (@nav-depth /4) );
}
.box:hover {
  -moz-transform: translateZ( -@nav-depth / 2 );
  -webkit-transform: translateZ( -@nav-depth / 2 );
}

div.active, div.active:hover {
  -moz-transform: translateZ( @nav-item-depth / 2 - 5px );
  -webkit-transform: translateZ( -@nav-item-depth / 2 - 5px );
}
