div, section, figure {
  padding: 0;
  margin: 0;
}
.container section {
  padding-top: 60px;
}
.shadow {
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: #999999 -2px px 9px;
  -webkit-box-shadow: #999999 -2px 2px 9px;
  box-shadow: #999999 -2px 2px 9px;
  overflow: hidden;
}
.well blockquote {
  border-left: 5px solid #CCC;
}
.well h3 a {
  color: #BFBFBF;
}
.frame {
  border: 5px solid #FFF;
  float: left;
  margin: 10px;
  overflow: hidden;
  /* this is important */

}
.photo, .oil-p {
  margin: -5px;
}
#footer {
  margin-top: 80px;
  background-color: #00af64;
}
#footer_container {
  background-color: #007241;
  min-width: 940px;
  width: 940px;
  height: 60px;
  margin: 0 auto;
}
#footer ul {
  padding: 20px 0;
  margin: 0;
}
#footer li {
  color: #FFF;
  list-style: none;
}
#footer a {
  color: #FFF;
  margin-top: 10px;
  padding: 10px 2px;
}
#footer li {
  border-left: 1px solid #61d7a4;
  float: left;
  line-height: 1em;
  padding: 0 15px;
}
#footer li.first {
  border-left: 0;
}
#blog-container .posts {
  padding: 0;
  margin: 0;
  list-style: none;
}
#blog-container .postsList, #blog-container .postCard {
  padding: 0;
  margin: 0;
  list-style: none;
}
#blog-container .postsList li, #blog-container .postCard li {
  border-top: 2px solid #218359;
  border-right: 1px dotted #218359;
}
#blog-container .postsList li h4,
#blog-container .postCard li h4,
#blog-container .postsList li h5,
#blog-container .postCard li h5 {
  padding: 5px 10px;
  margin-top: -2px;
}
#blog-container .postsList li:hover, #blog-container .postCard li:hover {
  background-color: #00af64;
}
#blog-container .postsList li a:hover, #blog-container .postCard li a:hover {
  text-decoration: none;
}
#blog-container .postsList li a:hover h4,
#blog-container .postCard li a:hover h4,
#blog-container .postsList li a:hover h5,
#blog-container .postCard li a:hover h5 {
  color: #FFF;
}
#blog-container .postsList li.active, #blog-container .postCard li.active {
  border-left: 2px solid #218359;
  border-right: none;
}
#blog-container .postsList li.active:hover, #blog-container .postCard li.active:hover {
  background-color: #FFF;
}
#blog-container .postCard li {
  border-right: none;
}
#blog-container .postsList {
  padding-top: 60px;
}
#blog-container ul .post {
  color: #000;
  list-style: none;
  padding-top: 60px;
}
.tags {
  margin-bottom: 1em;
}
