/* Variables.less
 * Variables to customize the look and feel of Bootstrap
 * ----------------------------------------------------- */
/* Mixins.less
 * Snippets of reusable CSS to develop faster and keep code readable
 * ----------------------------------------------------------------- */
#subNav {
  background-color: #A65F00;
  border: 1px solid #A65F00;
  padding: 3px;
}
#nav {
  background-color: rgba(0, 99, 99, 0.6);
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(rgba(0, 153, 153, 0.6)), to(rgba(0, 99, 99, 0.6)));
  background-image: -moz-linear-gradient(top, rgba(0, 153, 153, 0.6), rgba(0, 99, 99, 0.6));
  background-image: -ms-linear-gradient(top, rgba(0, 153, 153, 0.6), rgba(0, 99, 99, 0.6));
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 153, 153, 0.6)), color-stop(100%, rgba(0, 99, 99, 0.6)));
  background-image: -webkit-linear-gradient(top, rgba(0, 153, 153, 0.6), rgba(0, 99, 99, 0.6));
  background-image: -o-linear-gradient(top, rgba(0, 153, 153, 0.6), rgba(0, 99, 99, 0.6));
  background-image: linear-gradient(top, rgba(0, 153, 153, 0.6), rgba(0, 99, 99, 0.6));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(0, 153, 153, 0.6)', endColorstr='rgba(0, 99, 99, 0.6)', GradientType=0);
  height: 100px;
  -webkit-box-shadow: -2px 2px 5px #808080;
  -moz-box-shadow: -2px 2px 5px #808080;
  box-shadow: -2px 2px 5px #808080;
}
#nav_container {
  height: 0;
  margin: 0 auto;
  position: relative;
  width: 960px;
  -webkit-perspective: 100;
}
div.title {
  color: #9fee00;
  display: block;
  font: bold 32px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-left: 10px;
  position: absolute;
  top: 10px;
  -webkit-transform: translatez(-100px);
}
.container_back {
  background-color: #009999;
  height: 100px;
  width: 100%;
}
.container_right, .container_left {
  background-color: #006363;
  height: 100px;
  width: 100px;
}
.container_bottom, .container_top {
  background-color: #1d7373;
  height: 100px;
  width: 100%;
}
.container_back {
  -moz-transform: translatez(-100px);
  -webkit-transform: translatez(-100px);
}
.container_right {
  right: 0;
  -moz-transform: rotatey(90deg) translatez(50px) translatex(50px);
  -webkit-transform: rotatey(90deg) translatez(50px) translatex(50px);
}
.container_left {
  -moz-transform: rotatey(-90deg) translatez(50px) translatex(-50px);
  -webkit-transform: rotatey(-90deg) translatez(50px) translatex(-50px);
}
.container_bottom {
  -moz-transform: rotatex(90deg) translatez(-50px) translatey(-50px);
  -webkit-transform: rotatex(90deg) translatez(-50px) translatey(-50px);
}
.container_top {
  -moz-transform: rotatex(90deg) translatez(50px) translatey(-50px);
  -webkit-transform: rotatex(90deg) translatez(50px) translatey(-50px);
}
.box1 {
  left: 120px;
}
.box2 {
  left: 400px;
}
.box3 {
  left: 680px;
}
.box figure {
  display: block;
  position: absolute;
  -mo-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}
.box figure span {
  color: #c9f76f;
  text-shadow: 1px 1px 0 rgba(0, 99, 99, 0.9);
  display: block;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  padding: 3px 0 2px 0;
  text-align: center;
}
.box figure span:hover {
  color: #FFF;
  text-shadow: 2px 2px 0 rgba(0, 99, 99, 0.9);
}
.box a, .box a:hover {
  text-decoration: none;
}
.box .front, .box .back {
  background-color: #009999;
  height: 40px;
  width: 160px;
}
.box .right, .box .left {
  background-color: #006363;
  height: 40px;
  left: 55px;
  width: 50px;
}
.box .top, .box .bottom {
  background-color: #1d7373;
  height: 50px;
  top: -5px;
  width: 160px;
}
.box .front {
  -moz-transform: rotatey(0deg) translatez(25px);
  -webkit-transform: rotatey(0deg) translatez(25px);
}
.box .back {
  -moz-transform: rotatex(180deg) translatez(25px);
  -webkit-transform: rotatex(180deg) translatez(25px);
}
.box .right {
  -moz-transform: rotatey(90deg) translatez(80px);
  -webkit-transform: rotatey(90deg) translatez(80px);
}
.box .left {
  -moz-transform: rotatey(-90deg) translatez(80px);
  -webkit-transform: rotatey(-90deg) translatez(80px);
}
.box .top {
  -moz-transform: rotatex(90deg) translatez(20px);
  -webkit-transform: rotatex(90deg) translatez(20px);
}
.box .bottom {
  -moz-transform: rotatex(-90deg) translatez(20px);
  -webkit-transform: rotatex(-90deg) translatez(20px);
}
.box {
  -moz-transform: translatez(-75px);
  -webkit-transform: translatez(-75px);
}
.box:hover {
  -moz-transform: translatez(-50px);
  -webkit-transform: translatez(-50px);
}
div.active, div.active:hover {
  -moz-transform: translatez(20px);
  -webkit-transform: translatez(-30px);
}
