#nav {
  background-color: #00af64;
  height: 160px;
}
#nav_container {
  height: 0;
  margin: 0 auto;
  position: relative;
  width: 940px;
  -webkit-perspective: 100;
}
div.title {
  color: #FFF;
  display: block;
  font: bold 32px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-left: 10px;
  position: absolute;
  text-shadow: 1px -1px 3px #999999;
  top: 45px;
  -webkit-transform: translatez(-100px);
}
.container_back {
  background-color: #00af64;
  height: 160px;
  width: 100%;
}
.container_right, .container_left {
  background-color: #007241;
  height: 160px;
  width: 100px;
}
.container_bottom, .container_top {
  background-color: #218359;
  height: 100px;
  width: 100%;
}
.container_back {
  -moz-transform: translatez(-100px);
  -webkit-transform: translatez(-100px);
}
.container_right {
  right: 0;
  -moz-transform: rotatey(90deg) translatez(50px) translatex(50px);
  -webkit-transform: rotatey(90deg) translatez(50px) translatex(50px);
}
.container_left {
  -moz-transform: rotatey(-90deg) translatez(50px) translatex(-50px);
  -webkit-transform: rotatey(-90deg) translatez(50px) translatex(-50px);
}
.container_bottom {
  -moz-transform: rotatex(90deg) translatez(-110px) translatey(-50px);
  -webkit-transform: rotatex(90deg) translatez(-110px) translatey(-50px);
}
.container_top {
  -moz-transform: rotatex(90deg) translatez(50px) translatey(-50px);
  -webkit-transform: rotatex(90deg) translatez(50px) translatey(-50px);
}
/* Each nav item is a 'box' */
.box1 {
  left: 0;
}
.box2 {
  left: 370px;
}
.box3 {
  left: 740px;
}
.box figure {
  display: block;
  opacity: 0.8;
  position: absolute;
  -mo-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}
.box figure span {
  color: #FFF;
  display: block;
  font: bold 32px "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 60px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  text-shadow: #007241 1px 1px 3px;
}
.box a, .box a:hover {
  text-decoration: none;
}
.box .front, .box .back {
  background-color: #00af64;
  height: 60px;
  width: 200px;
}
.box .right, .box .left {
  background-color: #007241;
  height: 60px;
  left: 75px;
  width: 50px;
}
.box .top, .box .bottom {
  background-color: #218359;
  height: 50px;
  top: 5px;
  width: 200px;
}
.box .front {
  opacity: 1;
  -moz-transform: rotatey(0deg) translatez(25px);
  -webkit-transform: rotatey(0deg) translatez(25px);
}
.box .back {
  -moz-transform: rotatex(180deg) translatez(25px);
  -webkit-transform: rotatex(180deg) translatez(25px);
}
.box .right {
  -moz-transform: rotatey(90deg) translatez(100px);
  -webkit-transform: rotatey(90deg) translatez(100px);
}
.box .left {
  -moz-transform: rotatey(-90deg) translatez(100px);
  -webkit-transform: rotatey(-90deg) translatez(100px);
}
.box .top {
  -moz-transform: rotatex(90deg) translatez(30px);
  -webkit-transform: rotatex(90deg) translatez(30px);
}
.box .bottom {
  -moz-transform: rotatex(-90deg) translatez(30px);
  -webkit-transform: rotatex(-90deg) translatez(30px);
}
.box {
  -moz-transform: translatez(-75px);
  -webkit-transform: translatez(-75px);
}
.box:hover {
  -moz-transform: translatez(-50px);
  -webkit-transform: translatez(-50px);
}
div.active, div.active:hover {
  -moz-transform: translatez(-25px);
  -webkit-transform: translatez(-25px);
}
